@import '../../variables.scss';

.formContainer {
    background-color: $ligthColor;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        min-width: 300px;

        .logo {
            color: $darkColor;
            font-size: 24px;
            font-weight: bold;
        }

        .title {
            color: $darkColor;
            font-size: 12px;   
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;
            input {
                padding: 10px 0px;
                border: none;
                border-bottom: 1px solid $ligthColor;
                color: $darkColor;
                &::placeholder {
                    color: #2456396b;
                }

                &:focus {
                    outline: none;
                    border-bottom: 1px solid $darkColor;
                }
            }

            label {
                width: max-content;
                cursor: pointer;
                font-size: 12px;
                color: $darkColor;
                display: flex;
                gap: 5px;
                align-items: center;

                .avatar {
                    font-size: 24px;
                    border-radius: 5px;
                    color: $ligthColor;
                }

            }

            button {
                background-color: $ligthColor;
                border: none;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                color: $darkColor;
                font-weight: bold;
            }
        }

        p {
            font-size: 12px;
            color: $darkColor;
        }
    }
}