@import '../../main.scss';

.home {
    background-color: $lightColor;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        border: 1px solid white;
        border-radius: 5px;
        width: 60%;
        height: 80%;
        display: flex;
        overflow: hidden;
        position: relative;

        @include tablet {
            width: 90%;
            height: 90%;
        }
    }
}