@import '../../main.scss';

.navbar {
    display: flex;
    align-items: center;
    background-color: $veryDarkColor;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    color: $lightColor;

    .logo {
        font-weight: bold;

        @include tablet {
            display: none;
        }
    }

    .user {
        display: flex;
        gap: 10px;

        img {
            background-color: $lightColor;
            width: 24px;
            height: 24px;
            border-radius: 50px;
            object-fit: cover;
        }

        span {
            text-transform: capitalize;
        }

        button {
            border: none;
            background-color: $lightColor;
            cursor: pointer;
            border-radius: 3px;
            color: $veryDarkColor;

            @include tablet {
                position: absolute;
                bottom: 20px;
            }
        }
    }
}