@import '../../variables.scss';

.navbar {
    display: flex;
    align-items: center;
    background-color: $veryDarkColor;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    color: $ligthColor;

    .logo {
        font-weight: bold;
    }

    .user {
        display: flex;
        gap: 10px;

        img {
            background-color: $ligthColor;
            width: 24px;
            height: 24px;
            border-radius: 50px;
            object-fit: cover;
        }

        button {
            border: none;
            background-color: $ligthColor;
            cursor: pointer;
            border-radius: 3px;
            color: $veryDarkColor;
        }
    }
}