@import '../../main.scss';

.message {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;

    .messageInfo {
        display: flex;
        flex-direction: column;
        color: #24563993;
        font-weight: 300;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            object-fit: cover;
        }
    }

    .messageContainer {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .messageContent {
            background-color: white;
            padding: 10px 15px 5px 15px;
            border-radius: 0px 5px 5px 5px;
            max-width: max-content;
            color: $darkColor;

            .dateTime {
                font-size: 8px;
                color: #6a8e7a;
                display: flex;
                justify-content: space-between;
                gap: 10px;
            }
        }
        img {
            width: 50%;
        }
    }

    &.owner {
        flex-direction: row-reverse;
        
        .messageContainer {
            align-items: flex-end;
            .messageContent {
                border-radius: 5px 0px 5px 5px;
                background-color: #bcdcc5cd;
                color: $veryDarkColor;
            }
        }
            
    }
}